body {
    background-color: rgb(80, 80, 80);
}

.interactive-container {
    height: 1200px;
    width: 1600px;
    position: relative;
    border: 1px solid;
    border-color: black;
}

.interactive-container>* {
    position: absolute;
    border: 1px solid; 
    border-color: black;
    border-style: solid;
    border-color: transparent;
}

#table {
    top: 0px;
    left: 175px;
    width: 1200px;
    height: 800px;
    background-color: #2A0944;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #473329;
    border-width: 25px;
    border-radius: 50px;
}

.hand-runner {
    left: 540px;
    width: 500px;
    height: 125px;
    background-color: #754d94;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #c294e6;
    border-width: 10px;
    border-radius: 50px;
}

#dealer-hand-runner {
    top: 50px;
}

#player-hand-runner {
    top: 300px;
}

.runner-text {
    color: #2A0944;
    opacity: 12.5%;
    font-family: 'Arvo', serif;
}

#player-runner-text {
    top: 340px;
    left: 611px;
    font-size: 42pt;
}

#dealer-runner-text {
    top: 93px;
    left: 610px;
    font-size: 36pt;
}
  
.wager-diamond {
    left: 737px;
    transform: rotate(45deg);
}

.wager-diamond-label {
    left: 764px;
    width: 70px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 18pt;
}

#ante-diamond-label {
    top: 683px;
    color: #FEC260;
}

#play-diamond {
    top: 510px;
    width: 125px;
    height: 125px;
    background: #FEC260;
}

#play-diamond-label {
    top: 558px;
    font-weight: 700;
    color: #2A0944;
}

#ante-diamond {
    top: 635px;
    width: 95px;
    height: 95px;
    background-color: #2A0944;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #FEC260;
    border-width: 15px;
}

.wager-circle {
    top: 475px;
    width: 125px;
    height: 125px;
    background: #2A0944;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-width: 15px;
    border-radius: 50%;
}

.wager-circle-label {
    top: 523px;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 18pt;
    color: #FAF5E4;
}

#six-card-wager-circle {
    left: 480px;
    border-color: #3FA796;
}

#six-card-label {
    left: 511px;
}

#pair-plus-wager-circle {
    left: 962px;
    border-color: #FF6363;
}

#pair-plus-label {
    left: 1007px;
}

.btn {
    top: 735px;
    background: #1b8676;
    background-image: linear-gradient(to bottom, #1b8676, #125B50);
    border-radius: 28px;
    font-family: 'Merriweather', serif;
    color: #FAF5E4;
    font-size: 16pt;
    padding: 10px 20px 10px 20px;
    border: solid #0d3a34 4px;
}

.btn:hover {
    background: #37c4af;
    background-image: linear-gradient(to bottom, #37c4af, #1f907f);
    border: solid #09695b 4px;
}

#deal-button {
    left: 916px;
    padding: 10px 30px 10px 30px;
    background: #ce4170;
    background-image: linear-gradient(to bottom, #ce4170, #A10035);
    border: solid #6f0025 4px;
}

#deal-button:hover {
    background: #d3849e;
    background-image: linear-gradient(to bottom, #d3849e, #d30046);
    border: solid #882144 4px;
}

#play-button {
    left: 1037px;
    padding: 10px 30px 10px 30px;
}

#fold-button {
    left: 1155px;
    padding: 10px 30px 10px 30px;
}

#rebet-button {
    left: 1275px;
    color: #150f1b;
    background: #ffcc40;
    background-image: linear-gradient(to bottom, #ffd76a, #F8B400);
    border: solid #b58500 4px;
}

#rebet-button:hover {
    background: #ffe395;
    background-image: linear-gradient(to bottom, #ffe395, #fbcc4c);
    border: solid #ba983b 4px;
}