body {
    background-color: gainsboro;
}

.interactive-container {
    height: 1200px;
    width: 1600px;
    position: relative;
    border: 1px solid;
    border-color: black;
}

.interactive-container>* {
    position: absolute;
    border: 1px solid; 
    border-color: black;
    border-style: solid;
    border-color: transparent;
}

#table {
    top: 0px;
    left: 175px;
    width: 1200px;
    height: 800px;
    background-color: #086100;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: sienna;
    border-width: 25px;
    border-radius: 50px;
}

.hand-runner {
    left: 540px;
    width: 500px;
    height: 125px;
    background-color: #9fcdaa;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #dedede;
    border-width: 10px;
    border-radius: 50px;
}

#dealer-hand-runner {
    top: 50px;
}

#player-hand-runner {
    top: 300px;
}

.runner-text {
    color: #086100;
    opacity: 12.5%;
    font-family: 'Arvo', serif;
}

#player-runner-text {
    top: 340px;
    left: 611px;
    font-size: 42pt;
}

#dealer-runner-text {
    top: 93px;
    left: 610px;
    font-size: 36pt;
}
  
.wager-diamond {
    left: 737px;
    transform: rotate(45deg);
}

.wager-diamond-label {
    left: 764px;
    width: 70px;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    text-align: center;
    color: #fff280;
    font-family: 'Arvo', serif;
    font-size: 18pt;
}

#ante-diamond-label {
    top: 683px;
}

#play-diamond {
    top: 510px;
    width: 125px;
    height: 125px;
    background: #fff280;
}

#play-diamond-label {
    top: 558px;
    color: #086100;
}

#ante-diamond {
    top: 635px;
    width: 95px;
    height: 95px;
    background-color: #086100;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #fff280;
    border-width: 15px;
}

.wager-circle {
    top: 475px;
    width: 125px;
    height: 125px;
    background: #086100;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-width: 15px;
    border-radius: 50%;
}

.wager-circle-label {
    top: 523px;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 18pt;
    color: #ffffff;
}

#six-card-wager-circle {
    left: 430px;
    border-color: #00bfff;
}

#six-card-label {
    left: 462px;
}

#pair-plus-wager-circle {
    left: 1012px;
    border-color: #e263ff;
}

#pair-plus-label {
    left: 1057px;
}